<div class="choice-panel">
    <div class="choice-label">
        <span class="fill"></span>
        <span>H</span>
        <span class="fill"></span>
        <span>M</span>
        <span class="fill"></span>
        <span>L</span>
        <span class="fill"></span>
        <span>L</span>
        <span class="fill"></span>
        <span>M</span>
        <span class="fill"></span>
        <span>H</span>
        <span class="fill"></span>
    </div>
    <br/>
    <ul class="mrate choice-button">
        <li class="ion-android-arrow-back"></li>
        <li class="ion-android-radio-button-off input_radio pair1" id="q{{ loop.index0 }}a1"></li>
        <li class="ion-android-remove"></li>
        <li class="ion-android-radio-button-off input_radio pair1" id="q{{ loop.index0 }}a2"></li>
        <li class="ion-android-remove"></li>
        <li class="ion-android-radio-button-off input_radio pair1" id="q{{ loop.index0 }}a3"></li>
        <li class="ion-android-add"></li>
        <li class="ion-android-radio-button-off input_radio pair1" id="q{{ loop.index0 }}a4"></li>
        <li class="ion-android-remove"></li>
        <li class="ion-android-radio-button-off input_radio pair1" id="q{{ loop.index0 }}a5"></li>
        <li class="ion-android-remove"></li>
        <li class="ion-android-radio-button-off input_radio pair1" id="q{{ loop.index0 }}a6"></li>
        <li class="ion-android-arrow-forward"></li>
    </ul>
    <br/>
    <ul class="choice-result">
        <li class="diff">Different</li>
        <li class="same">Same</li>
    </ul>
</div>