<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>select panel</title>
    <link rel="stylesheet prefetch" href="../static/css/ionicons.min.css">
    <link rel="stylesheet" href="../static/css/select.css">
</head>

<body>
    <div class="choice-panel">
        <ul class="mrate choice-label">
            <li class="icon-hidden ion-android-arrow-back"></li>
            <li><span>H</span></li>
            <li class="icon-hidden ion-android-remove"></li>
            <li><span>M</span></li>
            <li class="icon-hidden ion-android-remove"></li>
            <li><span>L</span></li>
            <li class="icon-hidden ion-android-add"></li>
            <li><span>L</span></li>
            <li class="icon-hidden ion-android-remove"></li>
            <li><span>M</span></li>
            <li class="icon-hidden ion-android-remove"></li>
            <li><span>H</span></li>
            <li class="icon-hidden ion-android-arrow-forward"></li>
        </ul>
        <br/>
        <ul class="mrate">
            <li class="ion-android-arrow-back"></li>
            <li class="ion-android-radio-button-off"></li>
            <li class="ion-android-remove"></li>
            <li class="ion-android-radio-button-off"></li>
            <li class="ion-android-remove"></li>
            <li class="ion-android-radio-button-off"></li>
            <li class="ion-android-add"></li>
            <li class="ion-android-radio-button-off"></li>
            <li class="ion-android-remove"></li>
            <li class="ion-android-radio-button-off"></li>
            <li class="ion-android-remove"></li>
            <li class="ion-android-radio-button-on"></li>
            <li class="ion-android-arrow-forward"></li>
        </ul>
        <br/>
        <ul class="choice-result">
            <li class="diff">Different</li>
            <li class="same">Same</li>
        </ul>
    </div>
</body>
</html>