<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>select panel</title>
    <link rel="stylesheet prefetch" href="../static/css/ionicons.min.css">
    <link rel="stylesheet prefetch" href="../static/css/animate.min.css">
    <link rel="stylesheet" href="../static/css/select.css">
</head>

<body>
    <div class="select-panel">
        <div class="ratings">
            <div class="interaction">
                <ul class="rate">
                    <li class="rate-button">
                        H Different
                    </li>
                    <li class="rate-button">
                        M
                    </li>
                    <li class="rate-button">
                        L
                    </li>
                    <li class="rate-button">
                        L
                    </li>
                    <li class="rate-button">
                        M
                    </li>
                    <li class="rate-button">
                        H Same
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <ul>
                <li class="ion-ios-circle-outline"></li>
                <li class="icon ion-minus"></li>
                <li class="icon ion-ios-circle-outline"></li>
                <li class="icon ion-minus"></li>
                <li class="icon ion-ios-circle-outline"></li>
                <li class="icon ion-plus"></li>
                <li class="icon ion-ios-circle-outline"></li>
                <li class="icon ion-minus"></li>
                <li class="icon ion-ios-circle-outline"></li>
                <li class="icon ion-minus"></li>
                <li class="icon ion-ios-circle-outline"></li>
            </ul>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="js/index.js"></script>
</body>
</html>